@import '../../styles/responsive';

.WorkList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 16px;
  row-gap: 60px;
  padding-top: 100px;

  @include lg {
    row-gap: 40px;
  }

  @include md {
    padding-top: 70px;
  }

  @include sm {
    padding-top: 40px;
    row-gap: 28px;
  }
}

.WorkList__sublist {
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 8px);
  align-content: space-between;
}
