@import '../../styles/responsive';

.WorkItem {
  width: calc(50% - 8px);

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  @include md-lt {
    width: 100%;
  }
}

.WorkItem__sublistItem:nth-of-type(2n) {
  padding-left: 16px;
}

.WorkItem__description {
  padding-top: 12px;
}
