@import '../../styles/responsive';

.Panel {
  padding-left: 60px;
  padding-right: 60px;

  @include md {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include sm {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.Panel__Content {
  padding: 0 90px;

  @include md {
    padding: 0 50px;
  }

  @include sm {
    padding: 0 40px;
  }

  @include xs {
    padding: 0;
  }
}
