@import '../../styles/color';
@import '../../styles/responsive';

.Subject {
  display: inline-block;
  font-family: 'Neue Bold';
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;

  @include md {
    font-size: 20px;
    line-height: 20px;
  }

  @include sm {
    font-size: 14px;
    line-height: 14px;
  }
}

.Subject__content {
  display: block;
  border-bottom: 4px solid $black;
  padding-top: 20px;

  @include md {
    border-bottom: 2.5px solid $black;
    padding-top: 12.5px;
  }

  @include sm {
    border-bottom: 2px solid $black;
    padding-top: 10px;
  }
}
