@import '../styles/responsive';
@import '../styles/color';
@import '../styles/animation';

.screen__text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.About {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.05em;
  padding-top: 288px;

  @include md {
    padding-top: 378px;
    font-size: 14px;
    line-height: 20px;
  }

  @include sm {
    font-size: 12px;
    line-height: 18px;
    padding-top: 206px;
  }
}

.About__title {
  font-family: 'Neue Display';
  font-weight: 900;
  line-height: 110px;
  font-size: 100px;
  color: $red;

  &--insideOut {
    animation: insideOut 1.8s;
  }

  @include md {
    font-size: 60px;
    line-height: 66px;
  }

  @include sm {
    font-size: 38px;
    line-height: 40px;
  }

  @include xs {
    font-size: 28px;
    line-height: 31px;
  }
}

.About__introduction {
  display: flex;
  padding-top: 100px;

  @include md {
    padding-top: 70px;
  }

  @include sm {
    padding-top: 40px;
  }
}

.About__name {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  padding-bottom: 4px;
  border-bottom: 3px solid $black;

  @include md {
    font-size: 20px;
    line-height: 18px;
  }

  @include sm {
    font-size: 14px;
    line-height: 12px;
    border-bottom: 1.5px solid $black;
  }
}

.About__position {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-top: 34px;

  @include md {
    font-size: 20px;
    line-height: 32px;
    padding-top: 30px;
  }

  @include sm {
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
  }
}

.About__school {
  padding-top: 54px;

  @include sm {
    display: none;
  }

  &-en {
    padding-top: 49px;

    @include sm {
      display: none;
    }
  }

  &-en:nth-of-type(2n) {
    padding-top: 34px;
  }
}

.About__objectives {
  padding-top: 60px;

  @include sm {
    display: none;
  }

  &-en {
    padding-top: 35px;

    @include sm {
      display: none;
    }
  }
}

.About__experiences {
  display: flex;
  justify-content: flex-end;
  padding-top: 148px;

  @include md {
    padding-top: 90px;
  }

  @include sm {
    justify-content: flex-start;
    padding-top: 80px;
  }

  li {
    padding-top: 24px;

    @include md {
      padding-top: 20px;
    }

    @include sm {
      padding-top: 18px;
    }

    &:nth-of-type(1) {
      padding-top: 16px;

      @include md {
        padding-top: 14px;
      }

      @include sm {
        padding-top: 12.5px;
      }
    }
  }
}

.About__subtitle {
  display: inline-block;
  font-weight: 700;
  border-bottom: 2px solid $black;

  @include sm {
    border-bottom: 1.5px solid $black;
  }
}

.About__item:nth-of-type(2n + 1) {
  padding-right: 115px;

  @include xl {
    padding-right: 75px;
  }

  @include lg {
    padding-right: 45px;
  }

  @include sm {
    width: 50%;
    padding-right: 10px;
  }
}

.About__work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
