@import '../styles/responsive';
@import '../styles/color';
@import '../styles/animation';

.Main {
  display: inline-block;
  font-family: 'Neue Display';
  font-weight: 900;
  font-size: 100px;
  line-height: 110px;
  padding-top: 288px;

  @include lg {
    font-size: 80px;
    line-height: 86px;
    padding-top: 500px;
  }

  @include md {
    font-size: 60px;
    line-height: 65px;
    padding-top: 378px;
  }

  @include sm {
    font-size: 32px;
    line-height: 38px;
    padding-top: 300px;
  }

  @include xs {
    font-size: 28px;
    line-height: 38px;
  }
}

.Main__slogan > span {
  opacity: 0;
  animation: blink 1.8s forwards;
  animation-delay: 0.5s;
}

.Main__portfolio {
  position: relative;
  opacity: 0;
  animation: blink 1.8s forwards;
  animation-delay: 1s;

  &::before {
    position: absolute;
    left: -60px;
    top: 28%;
    border-bottom: 25px solid $red;
    content: '';
    animation: slideIn 1s forwards;
    animation-delay: 1.5s;

    @include lg {
      border-bottom: 20px solid $red;
    }

    @include md {
      top: 25.5%;
      border-bottom: 16px solid $red;
    }

    @include sm {
      top: 30%;
      border-bottom: 8px solid $red;
    }
  }
}

.Main__subject {
  padding-top: 240px;
  opacity: 0;
  animation: blink 0.5s forwards;
  animation-delay: 1.5s;

  @include md {
    padding-top: 244px;
  }

  @include sm {
    padding-top: 194px;
  }
}
