@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@font-face {
  font-family: 'lovelo';
  src: url('/fonts/lovelo') format('otf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  font-family: 'Noto Sans KR', 'Noto Sans';
}
